<div class="container card-block p-3 bg-silver">
    <h3 class="titulo">GENERATE YOUR NEWS</h3>
    <br/>
    <form [formGroup]="formCustomizableNews">
        <div class="contenedorTitulo col-9">
            <input #newsItemTitle formControlName="titleForm" type="text" class="form-control" placeholder="Your Title" required>
        </div>
        <br/>
        <div class="contenedorLink col-9">
            <input #newsItemLink formControlName="imgLinkForm" type="text" class="form-control" placeholder="Your Link" required>
        </div>
        <br/>
        <div class="contenedorImg col-9">
            <input #newsItemImgURL formControlName="imgURLForm" type="text" class="form-control" placeholder="Your image-URL" required>
        </div>
        <hr/>
        <button type="btn btn-secondary btn-sm" class="btn btn-light btn-lg" (click)="callServiceForAddNewNewsItem(newsItemTitle.value, newsItemImgURL.value, newsItemLink.value)">
        <b>Ready</b>
      </button>
    </form>
</div>