<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" (click)="returnToLoggin()">Return</a>
    <a class="navbar-brand" (click)="newsFormToggle()">Add customizable news</a>
</nav>

<news-form *ngIf="showNewsFormcustomizable"></news-form>

<section>
    <article>
        <newComponent *ngFor="let item of blogNews" [newsItem]="item"></newComponent>
    </article>
</section>