<div class="container card-block bg-light-gray p-3">
    <form [formGroup]="userLogginForm" class="container col-12">
        <div class="col-9  p-2">
            <input #userName formControlName="userNameFCN" [ngClass]="userStatus" type="text" class="form-control" placeholder="Username" required>
        </div>
        <div class="col-9  p-2">
            <input #userPass formControlName="userPassFCN" [ngClass]="passwStatus" type="password" class="form-control" placeholder="Password" required>
        </div>
    </form>
    <button class="btn btn-light btn-lg" (click)="verifyUser(userName.value, userPass.value)">
        Access to my custom News
    </button>
</div>